@font-face {
    font-family: "Pokemon";
    src: url("PokemonGB.ttf")
      format("truetype");
    font-weight: 100;
    font-style: normal;
}
  

body {
    font-family: "Pokemon";
    font-size:x-small;
    color:white;
    padding: 25px;
    position: absolute;
    top: 17%;
    left: 32%;
    background: url(GameboyColor.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}

* {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
}

div {
    display: grid;
    grid-template-rows: 200px 50px;
    grid-template-columns: 200px 200px;
}

h2.info {
    align-content: flex-start;
}

img.pk{
width: 200px;  
height: 200px;  
object-fit: fill;
}
p{
    width: 400px;  
    height: 200px; 
}

